@model SisGMA.Presentacion.MVC4.Areas.Mantenedores.Models.OperadoresViewModel

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.TituloForm</h3>
                @if (Model.IdOperario > 0)
                {
                    @WebControls.CampoOculto("hdnIdOperario", Model.IdOperario.ToString())
                }
            </div>
            <form id="frmOperador" role="form">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            @WebControls.InputTextBoxFormGroup("RUT Operador", "tbRutOperador", "Ej: 12.345.678-9", 12)
                        </div>
                        <div class="col-md-6">
                            @WebControls.DropDownListFormGroup("Rol", "ddlRolOperario", new Dictionary<string, string> { { "Test", "1" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @WebControls.InputTextBoxFormGroup("Nombre(s)", "tbNombres", "Nombre(s) del operador", 32)
                        </div>
                        <div class="col-md-4">
                            @WebControls.InputTextBoxFormGroup("Apellido Paterno", "tbApPaterno", "Apellido paterno", 32)
                        </div>
                        <div class="col-md-4">
                            @WebControls.InputTextBoxFormGroup("Apellido Materno", "tbApMaterno", "Apellido Materno", 32)
                        </div>
                    </div>
                    @WebControls.InputTextBoxFormGroup("Dirección", "tbDireccion", "Dirección", 64)
                    <div class="row">
                        <div class="col-md-4">
                            @WebControls.DropDownListFormGroup("Región", "ddlRegion", new Dictionary<string, string> { { "Chile", "1" } })
                        </div>
                        <div class="col-md-4">
                            @WebControls.DropDownListFormGroup("Provincia", "ddlProvincia", new Dictionary<string, string> { { "Chile", "1" } })
                        </div>
                        <div class="col-md-4">
                            @WebControls.DropDownListFormGroup("Comuna", "ddlComuna", new Dictionary<string, string> { { "Chile", "1" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @WebControls.InputEspecialFormGroup("Teléfono", "tbTelefono", "tel", "Ej: +569123456789", 16)
                            @WebControls.InputEspecialFormGroup("Contraseña", "tbClave", "password", "Entre 6 y 16 letras y/o números", 16)
                            @WebControls.CheckBoxFormGroup("Estado", "chkEstado", "Activo", check: true)
                        </div>
                        <div class="col-md-6">
                            @WebControls.ImageUpload("Imagen de referencia", "fupImagenOperador", placeholder: "Agregue una imagen para el operador")
                        </div>
                    </div>
                </div>
                <div class="box-footer text-center">
                    @WebControls.BotonCancelar(alineado: "pull-left")
                    @WebControls.BotonLimpiar()
                    @WebControls.BotonAceptar(alineado: "pull-right")
                </div>
            </form>
        </div>
    </div>
</div>
