@model SisGMA.Presentacion.MVC4.Areas.Mantenedores.Models.OperadoresViewModel

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                @if (Model.ListaOperadores != null)
                {
                    <table id="tblOperarios" class="table table-bordered table-hover dataTable" role="grid">
                        <thead>
                            <tr>
                                <th>RUT</th>
                                <th>Nombre(s)</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>Rol</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var operador in Model.ListaOperadores)
                            {
                                var rutNum = int.Parse(operador.RutOperario.Substring(0, operador.RutOperario.Length - 1));
                                var rutDv = operador.RutOperario.Substring(operador.RutOperario.Length - 1, 1);
                                <tr>
                                    <td>@(rutNum.ToString("N0") + "-" + rutDv)</td>
                                    <td>@operador.Nombres</td>
                                    <td>@operador.ApPaterno</td>
                                    <td>@operador.ApMaterno</td>
                                    <td>@operador.Rol</td>
                                    <td>@(operador.Estado ? "Activo" : "Inactivo")</td>
                                    <td>
                                        <a id="btnEditarOperario" class="btn btn-flat btn-xs btn-warning" data-id="@operador.IdOperario">Editar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="callout callout-warning">
                        <h4><i class="icon fa fa-warning" style="padding-right: 10px;"></i> No hay operarios para mostrar</h4>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
