@model SisGMA.Presentacion.MVC4.Areas.Mantenedores.Models.OperadoresViewModel
@{
    ViewBag.Section = "Operadores";
    ViewBag.Title = "Mantenedores - " + ViewBag.Section;
    var message = new SisGMA.Presentacion.MVC4.BaseLayout().GetMessage("Operadores", "CrearOperador", "IngresoOperadorOk");
    if (message != null && message.Any())
    {
        ViewBag.MessageTitle = message["Title"];
        ViewBag.MessageContent = message["Message"];
    }
}
<section class="content-header">
    <h1>@ViewBag.Section</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Inicio", new {area = ""})"><i class="fa fa-home"></i>Inicio</a></li>
        <li><a href="@Url.Action("Index", "Mantenedores", new { area = "" })">Mantenedores</a></li>
        <li class="active">@ViewBag.Section</li>
    </ol>
</section>
<section class="content">
    <div id="divMessage"></div>
    <div id="divFormulario" class="hide">
        @Html.Partial("Partials/FormularioPartial", Model)
    </div>
    <div id="divLista">
        @Html.Partial("Partials/ListaOperadoresPartial", Model)
    </div>
</section>
@section Modals
{
    @WebControls.ModalConfirmar()
    @WebControls.ModalInformar()
}
@section Scripts
{
    @Styles.Render("/plugins/select2/select2.min.css")
    @Styles.Render("/plugins/datatables/dataTables.bootstrap.css")
    @Scripts.Render("/plugins/select2/select2.min.js")
    @Scripts.Render("/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("/plugins/datatables/dataTables.bootstrap.min.js")
    <script type="text/javascript">
        $(document).ready(function() {
            $("#acciones a").click(function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ObtenerOperador", "Operadores", new {area = "Mantenedores"})",
                    data: { idOperador: $(this).data("id") },
                    success: function(response) {
                        if (response !== "") {
                            $("#divFormulario").html(response);
                            $("#divFormulario .box .overlay").remove();
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $("#divMessage").html('@WebControls.AlertaDenegado("Error")');
                        $("#alertDangerMensaje").html(xhr.responseText + "\n" + thrownError);
                    }
                });
                $("#divLista").addClass("hide");
                $("#divFormulario").removeClass("hide");
            });

            $('#tblOperarios').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": true,
                "oLanguage": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "No hay datos para mostrar",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        });
    </script>
}
