@model SisGMA.Presentacion.MVC4.Areas.Mantenedores.Models.OperadoresViewModel
@{
    ViewBag.Section = "Operadores";
    ViewBag.Title = "Mantenedores - " + ViewBag.Section;
    var baseUrl = System.Configuration.ConfigurationManager.AppSettings.Get("BaseUrl");
    var message = new SisGMA.Presentacion.MVC4.BaseLayout().GetMessage("Operadores", "CrearOperador", "IngresoOperadorOk");
    if (message != null && message.Any())
    {
        ViewBag.MessageTitle = message["Title"];
        ViewBag.MessageContent = message["Message"];
    }
}
<section class="content-header">
    <h1>@ViewBag.Section</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Inicio", new {area = ""})"><i class="fa fa-home"></i>Inicio</a></li>
        <li><a href="@Url.Action("Index", "Mantenedores", new { area = "" })">Mantenedores</a></li>
        <li class="active">@ViewBag.Section</li>
    </ol>
</section>
<section class="content">
    <div id="divMessage"></div>
    <div id="divFormulario" class="hide">
        @Html.Partial("Partials/FormularioPartial", Model)
    </div>
    <div id="divLista">
        @Html.Partial("Partials/ListaOperadoresPartial", Model)
    </div>
</section>
@section Modals
{
    @WebControls.ModalConfirmar()
    @WebControls.ModalInformar()
}
@section Styles
{
    @Styles.Render(baseUrl + "/plugins/select2/select2.min.css",
        baseUrl + "/plugins/datatables/dataTables.bootstrap.css")
}
@section Scripts
{
    @Scripts.Render(baseUrl + "/plugins/select2/select2.min.js",
        baseUrl + "/plugins/datatables/jquery.dataTables.min.js",
        baseUrl + "/plugins/datatables/dataTables.bootstrap.min.js")
}
