@{
    ViewBag.Section = "Operadores";
    ViewBag.Title = "SisGMA - Mantenedores - " + ViewBag.Section;
}

@model SisGMA.Presentacion.MVC4.Areas.Mantenedores.Models.OperadoresViewModel

<section class="content-header">
    <h1>Operadores</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i>Inicio</a></li>
        <li><a href="#">Mantenedores</a></li>
        <li class="active">@ViewBag.Section</li>
    </ol>
</section>
<section class="content">
    @*Html.Partial("Partials/FormularioPartial", Model)*@
    @Html.Partial("Partials/ListaOperadoresPartial", Model)
</section>

@section Modals
{
    @WebControls.ModalConfirmar()
    @WebControls.ModalInformar()
}

@section Scripts
{
    @Styles.Render("/plugins/select2/select2.min.css")
    @Styles.Render("/plugins/datatables/dataTables.bootstrap.css")
    @Scripts.Render("/plugins/select2/select2.min.js")
    @Scripts.Render("/plugins/datatables/jquery.dataTables.min.js")
    @Scripts.Render("/plugins/datatables/dataTables.bootstrap.min.js")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnEditarOperario").click(function () {
                // TODO: cargar operario
                $("#modalAlert").modal("show");
                var response = "";
                //$.ajax({
                //    type: "POST",
                //    url: "/Mantenedores/Operadores.aspx/ObtenerOperario",
                //    data: "{idOperario:" + $(this).attr("data-id") + "}",
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    success: function (respon) {
                //        response = respon;
                //        if (response !== "") {
                //            $("#tbRutOperador").val(response.d);
                //            $("#tbNombres").val(response.d);
                //            $("#tbApPaterno").val(response.d);
                //            $("#tbApMaterno").val(response.d);
                //        }
                //    },
                //    error: function (xhr, ajaxOptions, thrownError) {
                //        alert(xhr.responseJSON.Message);
                //    }
                //});
                //$("#listaOperadores").hide();
                //$("#dataOperador").show();
            });

            $("#btnCancelar").click(function () {
                $("#tbRutOperador").val("@Model.RutOperario");
                $("#tbNombres").val("@Model.Nombres");
                $("#tbApPaterno").val("@Model.ApPaterno");
                $("#tbApMaterno").val("@Model.ApMaterno");
                $("#tbDireccion").val("@Model.Direccion");
                $("#tbTelefono").val("@Model.Telefono");
                /*$("#modalConfirm").modal("show");
                $("#dataOperador").hide();
                // TODO: Resetear formulario
                $("#listaOperadores").show();//*/
            });

            $("#btnAgregar").click(function () {
                $("#modalConfirm").modal("show", function () {
                    // TODO: guardar/actualizar operario
                    $("#mdlInfoTitulo").html($("#tbNombres").val());
                    $("#mdlInfoContenido").html($("#tbApPaterno").val());
                });
            });

            //$("#<%= ddlRolOperario.ClientID %>").select2();
            $("#ddlRegion").select2({
                "language": "es"
            });
            $("#ddlProvincia").select2({
                "language": "es"
            });
            $("#ddlComuna").select2({
                "language": "es"
            });

            $('#tblOperadores').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "oLanguage": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "No hay datos para mostrar",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
        });
    </script>
}
