@{
    ViewBag.Section = "Operadores";
    ViewBag.Title = "SisGMA - Mantenedores - " + ViewBag.Section;
}

<section class="content-header">
    <h1>Operadores</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i>Inicio</a></li>
        <li><a href="#">Mantenedores</a></li>
        <li class="active">@ViewBag.Section</li>
    </ol>
</section>
<section class="content">
    @Html.Partial("Partials/FormularioPartial")
</section>

@section Modals
{
    @WebControls.ModalConfirmar()
    @WebControls.ModalInformar()
}

@section Scripts
{
    @Styles.Render("/plugins/select2/select2.min.css")
    @Scripts.Render("/plugins/select2/select2.min.js")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnEditarOperario").click(function () {
                // TODO: cargar operario
                $("#modalAlert").modal("show");
                var response = "";
                //$.ajax({
                //    type: "POST",
                //    url: "/Mantenedores/Operadores.aspx/ObtenerOperario",
                //    data: "{idOperario:" + $(this).attr("data-id") + "}",
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    success: function (respon) {
                //        response = respon;
                //        if (response !== "") {
                //            $("#tbRutOperador").val(response.d);
                //            $("#tbNombres").val(response.d);
                //            $("#tbApPaterno").val(response.d);
                //            $("#tbApMaterno").val(response.d);
                //        }
                //    },
                //    error: function (xhr, ajaxOptions, thrownError) {
                //        alert(xhr.responseJSON.Message);
                //    }
                //});
                //$("#listaOperadores").hide();
                //$("#dataOperador").show();
            });

            $("#btnCancelar").click(function () {
                $("#modalConfirm").modal("show");
                $("#dataOperador").hide();
                // TODO: Resetear formulario
                $("#listaOperadores").show();
            });

            $("#btnAgregar").click(function () {
                $("#modalConfirm").modal("show", function () {
                    // TODO: guardar/actualizar operario
                    $("#mdlInfoTitulo").html($("#tbNombres").val());
                    $("#mdlInfoContenido").html($("#tbApPaterno").val());
                });
            });

            //$("#<%= ddlRolOperario.ClientID %>").select2();
            $("#<%= ddlRegion.ClientID %>").select2({
                language: "es"
            });
            $("#<%= ddlProvincia.ClientID %>").select2({
                language: "es"
            });
            $("#<%= ddlComuna.ClientID %>").select2({
                language: "es"
            });
        });
    </script>
}
