@using System.Web.Mvc
@* Generador de Controles Web (MvcHtmlString) *@

@* Titulos *@

@helper TituloPrincipal(string titulo)
{
    <h2>@titulo</h2>
}

@* Botones *@

@helper BotonNormal(string texto, string idControl = "btnNormal", string width = "120px", string alineado = "")
{
    <button type="button" id="@idControl" class="btn btn-flat btn-default @alineado" style="width: @width;">
        @texto
    </button>
}

@helper BotonAceptar(string idControl = "btnAgregar", string width = "120px", string alineado = "")
{
    <button type="button" id="@idControl" class="btn btn-flat btn-success @alineado" style="width: @width;">
        <i class="fa fa-save" style="margin-right: 5px;"></i>
        Aceptar
    </button>
}

@helper BotonCancelar(string idControl = "btnCancelar", string width = "120px", string alineado = "")
{
    <button type="button" id="@idControl" class="btn btn-flat btn-warning @alineado" style="width: @width;">
        <i class="fa fa-reply" style="margin-right: 5px;"></i>
        Cancelar
    </button>
}

@helper BotonLimpiar(string idControl = "btnLimpiar", string width = "120px", string alineado = "")
{
    <button type="reset" id="@idControl" class="btn btn-flat btn-danger @alineado" style="width: @width;">
        <i class="fa fa-eraser" style="margin-right: 5px;"></i>
        Limpiar
    </button>
}

@* Mensajes y llamadas *@

@helper MensajeAlertaDenegado(string titulo, string mensaje)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> @titulo</h4>
        @mensaje
    </div>
}

@helper MensajeAlertaInformacion(string titulo, string mensaje)
{
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-info"></i> @titulo</h4>
        @mensaje
    </div>
}

@helper MensajeAlertaAdvertencia(string titulo, string mensaje)
{
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-warning"></i> @titulo</h4>
        @mensaje
    </div>
}

@helper MensajeAlertaCompletado(string titulo, string mensaje)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> @titulo</h4>
        @mensaje
    </div>
}

@helper MensajeLlamadaDenegado(string titulo, string mensaje)
{
    <div class="callout callout-danger">
        <h4>@titulo</h4>
        <p>@mensaje</p>
    </div>
}

@helper MensajeLlamadaInformacion(string titulo, string mensaje)
{
    <div class="callout callout-info">
        <h4>@titulo</h4>
        <p>@mensaje</p>
    </div>
}

@helper MensajeLlamadaAdvertencia(string titulo, string mensaje)
{
    <div class="callout callout-warning">
        <h4>@titulo</h4>
        <p>@mensaje</p>
    </div>
}

@helper MensajeLlamadaCompletado(string titulo, string mensaje)
{
    <div class="callout callout-success">
        <h4>@titulo</h4>
        <p>@mensaje</p>
    </div>
}

@* Formulario *@

@helper InputTextBoxFormGroup(string titulo, string idControl, string placeholder = "", int maxLenght = 0, string extraClases = "", bool disabled = false)
{
    <div class="form-group">
        <label for="@idControl">@titulo</label>
        <input type="text" id="@idControl" class="form-control @extraClases"
               @(maxLenght > 0 ? "maxlength=" + maxLenght : "") @(disabled ? "disabled" : "")
               placeholder="@placeholder">
    </div>
}

@helper InputEspecialFormGroup(string titulo, string idControl, string type = "text", string placeholder = "", int maxLenght = 0, string extraClases = "", bool disabled = false)
{
    <div class="form-group">
        <label for="@idControl">@titulo</label>
        <input type="@type" id="@idControl" class="form-control @extraClases"
               @(maxLenght > 0 ? "maxlength=" + maxLenght : "") @(disabled ? "disabled" : "")
               placeholder="@placeholder">
    </div>
}

@helper DropDownListFormGroup(string titulo, string idControl, Dictionary<string, string> itemList, string placeholder = "Seleccione una opción...", bool disabled = false)
{
    <div class="form-group">
        <label for="@idControl">@titulo</label>
        <select id="@idControl" class="form-control" @(disabled ? "disabled" : "")>
            <option value="">@placeholder</option>
            @foreach (var item in itemList)
            {
                <option value="@item.Value">@item.Key</option>
            }
        </select>
    </div>
}

@helper CheckBoxFormGroup(string titulo, string idControl, string textoCheck, string extraClases = "", bool check = false, bool disabled = false)
{
    <div class="form-group">
        <label for="@idControl">@titulo</label>
        <div class="checkbox @extraClases">
            <label>
                <input type="checkbox" id="@idControl" @(check ? "checked=\"checked\"" : "")>
                @textoCheck
            </label>
        </div>
    </div>
}

@helper ImageUpload(string titulo, string idControl, string widthPreview = "160px", string heightPreview = "160px", string placeholder = "Seleccione una imagen")
{
    <div class="form-group">
        <label for="@idControl">Imagen</label>
        <input type="file" id="@idControl">
        <p class="help-block">@placeholder</p>
    </div>
    <div style="border: 1px dashed black; width: @widthPreview; height: @heightPreview;"></div>
}

@helper CampoOculto(string idControl, string valor)
{
    <input type="hidden" id="@idControl" value="@valor" />
}

@helper BoxEspecial(string title, string body, string footer, string idForm = "frmBox", string boxColor = "box-default")
{
    <div class="box @boxColor">
        <div class="box-header with-border">
            <h3 class="box-title">@title</h3>
        </div>
        <form id="@idForm" role="form">
            <div class="box-body">
                @body
            </div>
            <div class="box-footer text-center">
                @footer
            </div>
        </form>
    </div>
}

@* Modales *@

@helper ModalConfirmar(string idTitulo = "mdlConfirmTitulo", string idContenido = "mdlConfirmContenido", string idBtnAceptar = "btnConfirmAceptar")
{
    <div id="modalConfirm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="@idTitulo" class="modal-title"></h4>
                </div>
                <div id="@idContenido" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="@idBtnAceptar" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
}

@helper ModalInformar(string idTitulo = "mdlInfoTitulo", string idContenido = "mdlInfoContenido")
{
    <div id="modalAlert" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="@idTitulo" class="modal-title"></h4>
                </div>
                <div class="modal-body" id="@idContenido"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
}

@* Funciones generales *@

@functions
{
    public static string GetMethod()
    {
        var response = "";
        
        return response;
    }
}
