@model SisGMA.Presentacion.MVC4.Areas.Mantenedores.Models.AccesosViewModel
@{
    ViewBag.Section = "Accesos";
    ViewBag.Title = "Mantenedores - " + ViewBag.Section;
}
@section Styles
{<link href="/Plugins/fapicker/css/fontawesome-iconpicker.min.css" rel="stylesheet" />}
@section Scripts
{<script src="~/Plugins/fapicker/js/fontawesome-iconpicker.min.js"></script>}
<section class="content-header">
    <h1>@ViewBag.Section</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Inicio", new { area = "" })"><i class="fa fa-home"></i>Inicio</a></li>
        <li><a href="@Url.Action("Index", "Mantenedores", new { area = "" })">Mantenedores</a></li>
        <li class="active">@ViewBag.Section</li>
    </ol>
</section>
<section class="content">
    <div id="divMessage"></div>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabAccesos" data-toggle="tab" aria-expanded="True">Accesos</a></li>
            <li><a href="#tabCategorias" data-toggle="tab" aria-expanded="False">Categorias</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tabAccesos">
                @Html.Partial("Partials/ListaAccesosPartial", Model)
            </div>
            <div class="tab-pane" id="tabCategorias">
                @Html.Partial("Partials/ListaCategoriasPartial", Model)
            </div>
        </div>
    </div>
</section>
@section Modals
{
    <div id="divModalAcceso">
        @Html.Partial("Partials/ModalAccesoPartial", Model)
    </div>
    <div id="divModalCategoria">
        @Html.Partial("Partials/ModalCategoriaPartial", Model)
    </div>
}